.pencairan-modal-title{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.pencairan-edit-modal-subcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* .pencairan-edit-modal-inner{
  position: relative;
  transform: translateY(30%);
  width: 459px;
  height: 392px;
  background-color: #2a2e31;
  border-radius: 10px;
  overflow: hidden;
} */

.pencairan-edit-modal-inner{
  zoom: 1.15;
  position: relative;
  transform: translateY(50%);
  width: 398px;
  min-height: 325px;
  max-height: 325px;
  background-color: #2a2e31;
  border-radius: 10px;
  overflow: hidden;
}

.sisa-proyeksi{
  display: flex;
  align-items: flex-end;
}


#pencairan-tanggal-proyeksi{
  padding: 5px;
  border: none;
  height: 19px;
  outline: none;
  background-color: #fdbc2c;
  border-radius: 10px;
  width: 109px;
  margin-top: 14px;
}

.pencairan-tanggal-container{
  display: flex;
}

.pencairan-tanggal-container p {
  font-size: 0.75rem;
  color:#fdbc2c;
}

.pencairan-tanggal-outer-container{
  display: flex;
  margin-left: 38px;
}




.pencairan-edit-modal-title{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pencairan-edit-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  height: 231px;
}

.pencairan-edit-modal-content{
  display: flex;
  margin-left: 37px;
}

#pencairan-edit-input-tanggal{
  padding: 5px;
  border: none;
  outline: none;
  background-color: #fdbc2c;
  border-radius: 10px;
  width: 113px;
}



.modal-pencairanEdit-input-container{
  display: flex;
  margin-top: 17px;
  position: relative;
  width: -moz-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: text;
  width: 14em;
}

.modal-pencairanEdit-input-container p {
  font-size: 0.88rem;
}


.modal-pencairanEdit-input{
  font-family: 'Poppins', sans-serif;
  left: 0;
  color: #ffffff;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  width: 158px;
}

.pencairanEdit-modal-line{
  position: absolute;
  background-color: rgb(255, 72, 72);
  left: 0;
  bottom: -2px;
  width:160px;
  height: 1px;
  cursor:text;
  transition: all 0.15s ease-in-out;
} 


.pencairanEdit-modal-text{
  font-size: 0.85rem;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0px;
  bottom: 3px;
  color: rgba(255, 255, 255, 0.5);
  cursor: text;
  transition: all 0.15s ease-in-out;
}

.pencairan-modal-warning p{
  font-size: 0.75rem;
  color: #FE413D;
  margin-top: 36px;
  width: 302px;
  margin-left: 37px;
}


.pencairan-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 44px;
}

.modal-pencairanEdit-input:focus ~ #modal-pencairanEdit-input-label,
.modal-pencairanEdit-input:valid ~ #modal-pencairanEdit-input-label { 
  color: #fdbc2c;
  transform: translate(-18px,-15px) scale(0.8);
}

.modal-pencairanEdit-input:focus ~ .pencairanEdit-modal-line,
.modal-pencairanEdit-input:valid ~ .pencairanEdit-modal-line
{
  background-color: aqua;
}